<%- include('./header.ejs') %>

<p>
  <img src="/assets/<%= frontPicture %>" class="img-fluid">
</p>
<h1><%= catchphrase %></h1>
<p>
  누구나 참여할 수 있는 홍제동 마인크래프트 서버에 오신 것을 환영합니다. 함께 크고 아름다운 뻘짓을 해보는것도 좋고 광물채취에 몰두하는것도 좋습니다. 모든것이 자유입니다. 트롤링만 하지 맙시다.
</p>

<div class="mb-5">
  <a href="/guide" class="btn btn-primary btn-lg px-4">시작하기</a>
</div>

<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">

  <% if (latestDeath) { %>
  <div class="col-md-12">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>광산에서는 안전제일!</strong>
      마지막 <%= latestDeath.nickname %>님의 사망사고 이후 무사고 <strong><%= latestDeath.lastDeathFromNowExpression() %></strong>째!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <% } %>

  <div class="col-md-6">
    <h2>망령 TOP 5</h2>
    <p>이 서버에서 가장 많은 시간을 보낸 5명의 망령을 소개합니다. 자랑스럽네요.</p>
    <ul class="icon-list">
      <% var rank = 1; %>
      <% for (const g of ghostsTop5) { %>
        <% const { hour, minute } = g.getHourMin(); %>
        <li><%= rank %>위 - <%= g.nickname %>, <%= hour %>시간 <%= minute %>분</li>
        <% rank++; %>
      <% } %>
    </ul>
    <p>모든 플레이어의 기록도 한번 보세요. <a href="/status">보러가기</a></p>
  </div>

  <div class="col-md-6">
    <h2>최근 채팅</h2>
    <ul>
      <% for (const chat of recentChats) { %>
        <li><b><%= chat.nickname %></b> - <%= chat.message %> - <small><span class="text-muted"><%= chat.lastEventExpressionFromNow() %></span></small></li>
      <% } %>
    </ul>
    <p>더 많은 채팅을 확인해보세요. <a href="/chats">보러가기</a></p>
  </div>

  <div class="col-md-6">
    <h2>건설 프로젝트</h2>
    <p>우리는 더 많은 건설노예가 필요해요. 다음 건설 프로젝트에 자원해 보세요</p>
    <ul class="icon-list">
      <li><a href="/project/rail">마을간 고속철도 건설</a></li>
      <li><a href="/project/waterhouse">물속 유리집 건설</a></li>
      <li><a href="/project/kumoh">금오공대 건설</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>시작 가이드</h2>
    <p>최적의 설치방법 및 모드 설치 가이드까지</p>
    <ul class="icon-list">
      <li><a href="/guide">설치방법 & 가이드</a></li>
      <li><a href="/village">마을들</a></li>
    </ul>
  </div>

  <div class="col-md-6">
      <h2>서버 상태</h2>
      <p>서버 상태, 채팅 메시지들, 로그들</p>
      <ul class="icon-list">
        <li><a href="/status">서버 상태 보기</a></li>
      </ul>
    </div>
  </div>
</div>

<%- include('./footer.ejs') %>
