<%- include('./header.ejs') %>

<h1>서버 상태</h1>
    <p>누가 지금 마인크래프트로 시간을 낭비하고 있는지, 얼마나 많은 뻘짓을 했는지 한 눈에 볼 수 있습니다.</p>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>노고에 감사드립니다.</h2>

        <% let allMin = 0; %>
        <% const numAllPlayer = allPlayers.length; %>
        <% for (const p of allRanks) { %>
        <%    allMin = allMin + p.minPlayed; %>
        <% } %>

        <% const allHour = Math.floor(allMin / 60); %>
        <% const restMin = allMin % 60; %>

        <p><%= numAllPlayer %>명의 플레이어가 총 <%= allHour %>시간 <%= restMin %>분의 귀-중한 시간을 투자해 주셨습니다. 오늘도 무사히!</p>

      </div>

      <div class="col-md-6">
        <h2>온라인 사용자</h2>

        <% if (onlinePlayers.length > 0) { %>
          <ul>
            <% for (const p of onlinePlayers) { %>
              <li><%= p.nickname %></li>
            <% } %>
          </ul>
        <% } else { %>
          <p>현재 아무도 없습니다. 다행이네요.</p>
        <% } %>
      </div>

      <div class="col-md-12">
        <h2>전체 사용자들</h2>

        <% if (allPlayers.length > 0) { %>
          <ul>
            <% for (const r of allRanks) { %>
              <% const { hour, minute } = r.getHourMin(); %>
              <li><b><%= r.nickname %></b> - 플탐 <%= hour %>시간 <%= minute %>분 - <small><span class="text-muted">마지막 접속 <%= r.lastPlayedExpressionFromNow() %></span></small></li>
            <% } %>
          </ul>
        <% } else { %>
          <p>아무도 없습니다. 다행이네요.</p>
        <% } %>
        <ul>

        </ul>
      </div>
    </div>

<%- include('./footer.ejs') %>